.col-centered{
    float: none;
    margin: 0 auto;
}

.timestamp{
	text-align: left;
	font-style: italic;
}

.cardTitle{
	text-align: left;
	font-weight: bold;
}

.gifbackground{
	/*background-image: url('https://media.giphy.com/media/EQNmBUvhrI304/giphy.gif');*/
	background-color: #d6d6d6;

}
